html,
body {
  min-width: 290px;
  color: white;
  background-color: #0D1117;
  font-family: 'GothamRounded-Medium';
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0D1117; 
}
 
::-webkit-scrollbar-thumb {
  background: #2e3947; 
  border-radius: 10px;
}

a {
  color: #1e87f0;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 70%;
  border-color: #cecece;
  border-radius: 10px;
}

#footer {
  position: fixed;
  min-width: 290px;
  top: 50px;
  right: 50px;
  width: 300px;
  height: auto;
  background: #161B22;
  border-radius: 10px;
}

@media (max-width: 1554px) {
  #footer {
    display: none;
  }
}

#footer img {
  margin-top: 10px;
  width: 48px;
  height: 48px;
}

#footer .version {
  line-height: 30px;
}

header {
  text-align: center;
}

header img {
  margin-top: 10px;
  width: 48px;
  height: 48px;
}

#main-doc header {
  font-size: 32.3px;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}

#navbar {
  background: #161B22;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #f0f6fc;
  border-top: 1px solid rgba(240, 246, 252, .7);
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #f0f6fc;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 400px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #f0f6fc;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

#Introduction {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #161B22;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

code .code__white {
  color: white;
}

code .code__pink {
  color: #dc79c6;
}

code .code__green {
  color: #50d94c;
}

code .code__red {
  color: red;
}

code .code__blue {
  color: #8be9fd;
}

code .code__purple {
  color: #8951bd;
}

code .code__yellow {
  color: #e4fa76;
}


h4 {
  font-weight: 500;
}


@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    /* background-color: white; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -42px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
